{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.maintainersHeader" . }}

{{ template "chart.maintainersTable" . }}

{{ template "chart.sourcesHeader" . }}

{{ template "chart.sourcesList" . }}

## {{ template "chart.valuesHeader" . }}

{{ template "chart.valuesTable" . }}

{{ template "helm-docs.versionFooter" . }}
