name: helm-test
on:
  pull_request:
    branches:
      - main
    paths:
      - charts/**
      - .github/workflows/helm-test.yaml

permissions: read-all

jobs:
  helm-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Unshallow
        run: git fetch --prune --unshallow

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.14

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (lint)
#        run: ct lint --target-branch=main --check-version-increment=false
        run: ct lint --check-version-increment=false --charts charts/argocd-ecr-updater
